<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Menu</key>
	<array>
		<dict>
			<key>Type</key>
			<string>Video</string>
			<key>PlaylistID</key>
			<string>PLoMwRIIUViGSaKrfsaZCd-hU1KObjLWjG</string>
			<key>Title</key>
			<string>YouTube</string>
			<key>Subtitle</key>
			<string>Checkout thsese awesome videos</string>
			<key>Icon</key>
			<string>YouTube</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Radio</string>
			<key>Title</key>
			<string>Radio</string>
			<key>Subtitle</key>
			<string>Listen to This Awesome Station</string>
			<key>Url</key>
			<string>http://173.245.94.219:80</string>
			<key>Icon</key>
			<string>Radio</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Website</string>
			<key>Url</key>
			<string>http://hoomanmardokhi.com</string>
			<key>Title</key>
			<string>Website</string>
			<key>Subtitle</key>
			<string>Checkout this awesome website</string>
			<key>Icon</key>
			<string>Web</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Gallery</string>
			<key>AlbumID</key>
			<string>72157629813041703</string>
			<key>Title</key>
			<string>Flickr</string>
			<key>Subtitle</key>
			<string>Ton of awesome images in one place</string>
			<key>Icon</key>
			<string>Flickr</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Social</string>
			<key>Title</key>
			<string>Social</string>
			<key>Subtitle</key>
			<string>Like, follow and connect with us on your favourite social network</string>
			<key>Icon</key>
			<string>Social</string>
		</dict>
	</array>
	<key>Social Menu</key>
	<array>
		<dict>
			<key>Icon</key>
			<string>Youtube</string>
			<key>Title</key>
			<string>YouTube</string>
			<key>Subtitle</key>
			<string>Subscribe to Us on Youtube</string>
			<key>Url</key>
			<string>http://youtube.com/hoomanmar</string>
		</dict>
		<dict>
			<key>Icon</key>
			<string>Google+</string>
			<key>Title</key>
			<string>Google+</string>
			<key>Subtitle</key>
			<string>Follow us on Google+</string>
			<key>Url</key>
			<string>http://google.com/plus</string>
		</dict>
		<dict>
			<key>Icon</key>
			<string>LinkedIn</string>
			<key>Title</key>
			<string>LinkedIn</string>
			<key>Subtitle</key>
			<string>Connect with us on LinkedIn</string>
			<key>Url</key>
			<string>http://linkedin.com/30daylabs</string>
		</dict>
		<dict>
			<key>Icon</key>
			<string>Twitter</string>
			<key>Title</key>
			<string>Twitter</string>
			<key>Subtitle</key>
			<string>Follow us on Twitter</string>
			<key>Url</key>
			<string>http://twitter.com/hooman_mardokhi</string>
		</dict>
		<dict>
			<key>Icon</key>
			<string>Instagram</string>
			<key>Title</key>
			<string>Instagram</string>
			<key>Subtitle</key>
			<string>Follow us on Instagram</string>
			<key>Url</key>
			<string>http://facebook.com/30daylabs</string>
		</dict>
		<dict>
			<key>Icon</key>
			<string>Pinterest</string>
			<key>Title</key>
			<string>Pinterest</string>
			<key>Subtitle</key>
			<string>Follow our Boards on Pinterest</string>
			<key>Url</key>
			<string>http://pintrest.com</string>
		</dict>
		<dict>
			<key>Icon</key>
			<string>Facebook</string>
			<key>Title</key>
			<string>Facebook</string>
			<key>Subtitle</key>
			<string>Like us on facebook</string>
			<key>Url</key>
			<string>http://facebook.com/30daylabs</string>
		</dict>
	</array>
	<key>appName</key>
	<string>My Collection</string>
	<key>Activate Admob</key>
	<true/>
	<key>Admob_Interstitial_ID</key>
	<string>ca-app-pub-7607380003153721/6164025093</string>
	<key>Admob_probability</key>
	<real>0.3</real>
	<key>Internal WebView</key>
	<true/>
</dict>
</plist>
