<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gallery</key>
	<string>Gallery</string>
	<key>GalleryFlickrPhotosetID</key>
	<string>72157622520234988</string>
	<key>Tour</key>
	<string>Tour</string>
	<key>TourFlickrPhotosetID</key>
	<string>72157608697001644</string>
	<key>Videos</key>
	<string>Videos</string>
	<key>About</key>
	<string>About</string>
	<key>Contact</key>
	<string>Contact</string>
	<key>Social</key>
	<string>Social</string>
	<key>Login</key>
	<string>Login</string>
	<key>LoginAddress</key>
	<string>http://getbootstrap.com/examples/signin/</string>
	<key>phone</key>
	<string>0413128463</string>
	<key>city</key>
	<string>Sydney</string>
	<key>website</key>
	<string>http://www.tattos.com</string>
	<key>email</key>
	<string>info@tattooink.com</string>
	<key>facebook</key>
	<string>https://www.facebook.com/Tattoo</string>
	<key>pinterest</key>
	<string>http://pinterest.com/tattoo</string>
	<key>googlePlus</key>
	<string></string>
	<key>instagram</key>
	<string></string>
	<key>linkedin</key>
	<string>http://linkedin.com/tattoo</string>
	<key>twitter</key>
	<string>http://twitter.com/tattoos</string>
	<key>youtubePlaylistID</key>
	<string>PLQDhJ69UoMTMy-n9B60MWZ0FeEYAg5-RL</string>
	<key>color1</key>
	<string>hooman</string>
	<key>color2</key>
	<string></string>
	<key>color3</key>
	<string></string>
	<key>appName</key>
	<string>Tattoo Ink</string>
	<key>description</key>
	<string>Specializing in custom design and creative tattooing, as well as body piercing in a state of the art studio.
We pride ourselves on being the friendliest tattoo and piercing studio that most people have ever entered. Many of our clients tell us stories about their experiences in other shops, of unfriendly or downright surly attitudes from the artists, often even a lack of respect for the clients’ ideas and input. Many of these customers tell us that they chose our studio because we were the cleanest and most understanding ones who then were amazed by the quality of our work. Our studio environment allows our clients to relax during their tattoo or piercing procedure, enjoying good conversation and company. Our clients come from all walks of life and we enjoy meeting different people everyday, often gaining new friends in the process.
We also regularly draw clients in from out of town/state and even from overseas.</string>
</dict>
</plist>
